
html,
body {
  min-height: 100vh; /* Allows the page to expand when needed */
  height: auto; /* Allows scrolling when content exceeds viewport */
  
}


body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: brown;
  
}


footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.85; /* Semi-transparent effect */

  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  z-index: 1000;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}
/* #region general */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  /* height: 100vh; */
  /* variables for common colors */
  --h-color: rgb(18, 30, 75);
  --a-color: #ff8000;
  --border: 2px solid green;
}

/* .container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
} */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: red;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main {
  flex-grow: 1;
  padding-top: 100px;
}



.d-flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-reverse {
  flex-direction: row-reverse;
}

.f-c-reverse {
  flex-direction: column-reverse;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-e {
  align-items: flex-end;
}

.ai-s {
  align-items: flex-start;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: flex-end;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

.no-wrap {
  flex-wrap: nowrap;
}

.f-wrap {
  flex-wrap: wrap;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
.btn {
  display: block;
  padding: 1rem;
  background-color: #ff8000;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  color: aliceblue;
  font-weight: 700;
}
/* #endregion: general */

/* #region header and footer */
header,
footer {
  background-color: #e3f5dc;
  padding: 3rem 2rem;
}
.header__wrap,
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo img {
  height: 5rem;
}
.logo span {
  color: chocolate;
  font-size: 3rem;
}
.menu {
  display: flex;
  gap: 1rem;
}
.menu li a {
  color: chocolate;
}
/* #endregion header and footer */
