.contact-container {
  max-width: 1200px;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  background-color: #f5f9f6;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 3rem;
  color: var(--h-color);
  margin-bottom: 2rem;
  font-weight: 700;
}

.contact-text {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 1rem auto;
  gap: 1rem;
}

.contact-name {
  text-align: right;
  font-weight: bold;
  color: #333;
}



.contact-image {
  margin: 2rem 0;
}

.image {
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


