.settings-container {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
}
.settings-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.settings-card {
  flex: 1;
  min-width: 350px;
  max-width: 550px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.settings-title,
.settings-card h2 {
  text-align: center;
  color: #c45700;
  margin-bottom: 25px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.settings-form label {
  color: #333;
  font-weight: bold;
  margin-bottom: 6px;
}

.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"],
.settings-form input[type="date"],
.settings-form input[type="file"],
.settings-form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.settings-form select {
  cursor: pointer;
}

.save-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  transition: 0.3s ease;
}

.save-btn:hover {
  background-color: #333;
}

.settings-message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
  text-align: center;
}
